extends layout

block content
  h1= title

  h2 Book: #{book.title}

  if book_instances.length
    p The following book instances are associated with this book and must be deleted before this book can be removed.
    ul
      each instance in book_instances
        li= instance.imprint

  else
    p Are you sure you want to delete this book?

    form(action=book.url + '/delete' method='post')
      input(type='hidden' name='bookid' value=book._id)
      button(type='submit') Delete
